:root
  --black #353536
  --error #F04343
  --error-dark #BD3131
  --error-light #F07373
  --gray-1 #EAECEF
  --gray-2 #D5D5D6
  --gray-3 #ADADAD
  --gray-4 #4C4C4D
  --gray-shadow 4px 4px 16px rgba(53, 53, 53, 0.1), 8px 8px 16px rgba(53, 53, 53, 0.1)
  --gray-shadow--hover 4px 4px 8px rgba(53, 53, 53, 0.15), 8px 12px 24px rgba(53, 53, 53, 0.2)
  --primary #316BE0
  --primary-dn1 #2858B8
  --primary-dn2 #1A4EB8
  --primary-shadow 8px 8px 16px rgba(17, 37, 76, 0.16), 4px 4px 12px rgba(17, 37, 76, 0.12)
  --primary-shadow--hover 8px 8px 16px rgba(17, 37, 76, 0.24), 4px 4px 12px rgba(17, 37, 76, 0.24)
  --primary-up1 #457FF5
  --primary-up2 #6593F0
  --success #45D43B
  --success-dark #35A12D
  --success-light #79EB71
  --white #f8f8f8
