:root
  --black #373738
  --error #F35858
  --error-dn1 #D04C4C
  --error-up1 #F38486
  --gray-1 #D5D5D6
  --gray-2 #9F9FA2
  --gray-3 #6F6F70
  --primary #387AFF
  --primary-dn1 #3665C5
  --primary-dn2 #34569C
  --primary-up1 #4E98FF
  --primary-up2 #69b4ff
  --success #6DDC51
  --success-dn1 #5EBD45
  --success-up1 #A1E693
  --white #f8f8f8
