:root
  --primary-font 'Anton', Helvetica, sans-serif
  --secondary-font 'Montserrat', Helvetica, Arial, sans-serif
h1, h2, h3, h4, h5
  font-family var(--primary-font)
  letter-spacing 0.04rem
  margin 0 0 24px 0
  padding 0
h1
  font-family var(--secondary-font)
  font-size 64px
h2
  font-size 48px
  margin 0 auto 40px
h3
  font-size 40px
h4
  font-size 32px
h5
  font-size 24px
p
  font-family var(--secondary-font)
  font-size 16px
  letter-spacing 0.025em
  line-height 1.618em
.text
  &-center
    text-align center
  &-indent-first
    text-indent 2.5em
  &-normalize
    color inherit
    font-size inherit
    text-decoration none
