@import '../variables/index.styl'

*
  box-sizing border-box
html
  scroll-behavior smooth
  body
    background-color var(--white)
    color var(--black)
    height 100%
    line-height 1.5
    margin 0
    padding 0
    position relative
section
  padding 184px 0
  position relative
#app
  display flex
  flex-direction column
  height 100%
#landing
  align-items center
  background-image linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.8)), url('/images/landing-bg.png')
  background-repeat no-repeat
  background-size cover
  display flex
  min-height 100vh
  padding 72px 0
.content-center
  align-items center
  display flex
  justify-content center
  &--column
    flex-direction column
    text-align center
.content-right
  align-items center
  display flex
  justify-content flex-end
.content-left
  align-items center
  display flex
  justify-content flex-start
.debug
  &-red
    border 2px solid red !important
  &-blue
    border 2px solid blue !important
  &-green
    border 2px solid green !important
