:root
  --bg #fff
  --bg-secondary #f7f9f8
  --bg-teritary #f7f9f8
  --bg-transparent rgba(255, 255, 255, 0.9)
  --body-color hsla(0, 0%, 0%, 0.8)
  --border-color #e2ecec
  --border-color-darker #cfe6e6
  --border-radius 4px
  --dark-bg #0d2538
  --header-height 64px
  --inline-code-bg rgba(212, 53, 159, 0.03)
  --primary #0A90FF
  --primary-color-dark #00835c
  --space 24px
  --space-x2 48px
  --success-bg #5bb196
  @media screen and (max-width 550px)
    --space 16px
    --space-x2 16px
  [data-theme='dark']
    --bg #091a28
    --bg-secondary #071521
    --bg-teritary #0e2233
    --bg-transparent #09128E
    --body-color #ebf4f1
    --border-color #0d2538
    --border-color-darker #0d2538
    --primary-color #00835c
    --primary-color-dark #00a672
